{% extends "auth/layout/layout.twig" %}

{% block title %}Blogginit | Error{% endblock %}

{% block content %}
<div class="text-center mt-5">

        <h1 class="display-1 text-danger">{{ error.code}}</h1>
        <p class="fs-4 lead">{{ error.message}}</p>
        <a href="/" class="btn btn-primary">Go back to Home</a>

</div>
{% endblock %}
