{% extends "auth/layout/layout.twig" %}

{% block javascript %}
	{{ parent() }}
	{{ encore_entry_script_tags('forgot_password') }}
{% endblock %}

{% block title %}
	Blogginit | Password Reset
{% endblock %}

{% block content %}

	<div class="card shadow-sm p-4 mx-auto my-5" style="max-width: 400px; width: 100%;">
		<h1 class="h4 text-center mb-4">Password Reset</h1>
		<div class="forgot-password-form">
			<div class="form-outline mb-3">
				<label for="email" class="form-label">Enter your email address</label>
				<input type="email" id="email" name="email" class="form-control" required>
			</div>
			<button type="button" class="btn btn-primary w-100 forgot-password-btn">Continue</button>
		</div>

        {# <form action="/forgot-password" method="post"  class="forgot-password-form">
			<div class="mb-3">
				<label for="email" class="form-label">Enter your email address</label>
				<input type="email" id="email" name="email" class="form-control" required>
			</div>
			<button type="submit" class="btn btn-primary w-100 forgot-password-btn">Continue</button>
		</form> #}
		<div class="text-center mt-3">
			<p class="mb-0">
				<a href="/login" class="text-primary">Back to login</a>
			</p>
		</div>
	</div>

{% endblock %}
