{% extends 'app/layout/layout.twig' %}

{% block title %}
	Blogginit | Manage
{% endblock %}

{% block page_title %}
	Blog Manager
{% endblock %}


{% block page_description %}
	Manage your blogs!
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="row mt-4">
            {% for blog in blogs %}

            <div class="col-md-4 mb-3">
				<div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{blog.title}}</h5>
                        <p class="card-text text-secondary">T: {{blog.ticks}} V: {{blog.views}}</p>
                        <a href="#" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>
                        <a href="#" class="btn btn-primary"><i class="bi bi-pen-fill"></i></a>
                        <a href="#" class="btn btn-primary"><i class="bi bi-trash-fill"></i></a>
                    </div>
				</div>
			</div>

            {% else %}

			<div class="row">
				<div class="col-12 text-center">
					<h1 class="lead alert alert-warning" role="alert">No Blogs Found</h1>
				</div>
                <a href="blogs/create" class="btn btn-primary bg-gradient px-2 col-4 ms-5">Create your first blog</a>
			</div>

            {% endfor %}
	    </div>
	</div>
{% endblock %}
