{% extends 'app/layout/layout.twig' %}

{% block title %}
	Blogginit | Collaborations
{% endblock %}

{% block page_title %}
	Collaborations
{% endblock %}


{% block page_description %}
	See who you work with!
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<h1 class="lead text-danger">This page is still in development, please come back later to see and modify your team.</h1>
	</div>

{% endblock %}
