{% extends 'app/layout/layout.twig' %}

{% block title %}
	Blogginit | Dashboard
{% endblock %}

{% block page_title %}
	Dashboard
{% endblock %}


{% block page_description %}
	Welcome to your dashboard!
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="row mt-4">
			<div class="col-md-4">
				<div class="card border-primary">
					<div class="card-body">
						<h5 class="card-title text-primary">Statistics</h5>
						<p class="card-text text-secondary">View the latest stats for your blog posts here.</p>
						<a href="/reports" class="btn btn-primary">View Stats</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card border-primary">
					<div class="card-body">
						<h5 class="card-title text-primary">Manage Blogs</h5>
						<p class="card-text text-secondary">Create, edit, or delete your blogs.</p>
						<a href="/blogs" class="btn btn-primary">Manage Blogs</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card border-primary">
					<div class="card-body">
						<h5 class="card-title text-primary">Settings</h5>
						<p class="card-text text-secondary">Update your account settings.</p>
						<a href="/settings" class="btn btn-primary">Go to Settings</a>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
