{% extends 'app/layout/layout.twig' %}

{% block javascript %}

	{{ parent() }}
	{{ encore_entry_script_tags('settings') }}

{% endblock %}


{% block title %}
	Blogginit | Settings
{% endblock %}

{% block page_title %}
	Settings
{% endblock %}


{% block page_description %}
	Personalize your workflow!
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<p class="lead">Profile</p>
		<hr>
		<form method="POST" action="/update-profile-settings" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input type="text" class="form-control" id="username" name="name" value="{{ user.name }}" required>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">Email Address</label>
				<input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
			</div>
			<div class="mb-3">
				<label for="profilePicture" class="form-label">Profile Picture</label>
				<input type="file" class="form-control" id="profilePicture" name="profile_picture">
			</div>
			<button type="button" class="btn btn-primary update-profile-btn">Save Changes</button>
		</form>
		<p class="lead mt-4">Security</p>
		<hr>
		<form method="POST" action="/update-security-settings">
			<div class="mb-3">
				<label for="password" class="form-label">New Password</label>
				<input type="password" class="form-control" id="password" name="password">
				<small class="form-text text-muted">Leave blank if you don't want to change your password.</small>
			</div>
			<div class="mb-3">
				<input type="checkbox" class="form-check-input" name="2faEnable" id="2faEnable" {% if user.hasTwoFactorAuthEnabled() %} checked="true" {% endif %}>
				<label for="2faEnable" class="form-check-label">Use Two Factor Authentication on next login</label>
			</div>
			<button type="submit" class="btn btn-primary update-security-btn">Save Changes</button>
		</form>

		<p class="lead mt-4">Display</p>
		<hr>
		<div class="mb-3">
			<form method="POST" action="/update-security-settings">
				<div class="mb-3 row">
					<div class="card bg-light border-primary col mx-2">
						<input type="radio" name="theme" id="theme" value="light" checked>
						<div class="card-body">
							<h5 class="card-title text-primary">Light</h5>
							<p class="card-text text-secondary"></p>
						</div>
					</div>
					<div class="card bg-dark border-light col mx-2">
						<input type="radio" name="theme" id="theme" value="dark">
						<div class="card-body">
							<h5 class="card-title text-light">Dark</h5>
							<p class="card-text text-secondary"></p>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary update-theme-btn">Save Changes</button>
			</form>
		</div>

		<p class="lead mt4">Account</p>
		<hr>
		<div class="mb-3">
			<p>Manage your account</p>
			<a href="#" class="btn btn-primary">Download Account Data</a>
			<a href="#" class="btn btn-outline-danger">Reset Account</a>
			<a href="#" class="btn btn-danger">Delete Account</a>
		</div>
	</div>

{% endblock %}
