{% extends 'extras/layout/layout.twig' %}


{% block title %}
	Blogginit | About
{% endblock %}

{% block page_title %}
	About Us
{% endblock %}


{% block page_description %}
	Read more to learn about Blogginit!
{% endblock %}

{% block content %}
	<div class="container mt-5 lead">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias assumenda doloremque fugiat dolores aut aspernatur architecto, libero possimus eaque culpa magnam odit porro. Id!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta provident perferendis aperiam fugit beatae adipisci veniam eius sed, placeat nobis.</p>
	</div>


{% endblock %}
