@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

// @import url("mods/font.scss");

a {
    text-decoration: none !important;
}

.img-icon {
    width: 5%;
    height: 5%;
}
