{% extends "landing/layout/layout.twig" %}

{% block title %}
	Blogginit | Home
{% endblock %}

{% block nav %}
    <nav class="bg-white navbar navbar-light px-5">
		<div class="container">
			<a class="navbar-brand" href="#">Blogginit</a>
			<a href="/login" class="btn btn-primary">Login</a>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<section class="px-5 py-2 text-center m-5">
		<div class="container">
        {# <img src="{{ asset('build/images/blogginit.png') }}" alt="Blogginit Logo" class="w-100" style="height: 20em"> #}
			<h1 class="fw-bold h1">Welcome to Blogginit</h1>
			<p class="lead text-secondary mb-5">Create your own blog or explore amazing content from others.</p>
			<a href="/register" class="btn btn-primary btn-lg">Start Blogging</a>
		</div>
	</section>

    <hr>

	<section class="px-3 text-center">
		<div class="container">
			<h2 class="mb-5 p-1 h3">Why Choose Blogginit?</h2>
			<div class="row">
				<div class="col-md-4">
                    <i class="bi bi-gear h1 text-primary"></i>
					<h5 class="lead text-primary">Easy to Use</h5>
					<p>Create and manage blogs effortlessly with our intuitive interface.</p>
				</div>
				<div class="col-md-4">
                    <i class="bi bi-moon-stars h1 text-primary"></i>
                    <i class="bi bi-arrow-left-right h1 text-primary"></i>
                    <i class="bi bi-sun h1 text-primary"></i>
					<h5 class="lead text-primary">Customizable</h5>
					<p>Personalize your blog with themes and layouts that suit your style.</p>
				</div>
				<div class="col-md-4">
                    <i class="bi bi-people h1 text-primary"></i>
					<h5 class="lead text-primary">Community</h5>
					<p>Connect with other bloggers and share your ideas with the world.</p>
				</div>

			</div>
		</div>
	</section>

    <hr>
    <section class="px-3 text-center">
        <div class="container">
            <h2 class="mb-5 p-1 h3">FAQs</h2>
            <div class="row">
                <div class="accordion" id="FAQAccordion">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Guess What?
                        </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#FAQAccordion" style="">
                            <div class="accordion-body">
                                <p class="text-start">No questions asked, just use it!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
