{% extends "landing/layout/layout.twig" %}

{% block title %}
	Blogginit | Register
{% endblock %}

{% block content %}

	<div class="card shadow-sm p-4 mx-auto mt-3 mb-5" style="max-width: 400px; width: 100%;">
		<h1 class="h4 text-center mb-4">Welcome to Blogginit</h1>
		<form action="/register" method="POST" class="registration-form">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
		<div class="text-center mt-3">
			<p class="mb-0">Already have an account?
				<a href="/login" class="text-primary">Login</a>.
			</p>
		</div>
	</div>

{% endblock %}

